.box {
  margin-bottom: 100px;
  margin-top: 25%;
  text-align: center;
}

.blue {
  margin-right: 50px;
  width: 50px;
  background-color: blue;
  color: antiquewhite;
}
.red {
  background-color: red;
  width: 50px;
  color: antiquewhite;
}

.textbox {
  display: flex;
  gap: 60px;
  justify-content: center;
}
